#banner {
    grid-template-columns: .7fr 1.3fr;
    @media screen and (max-width: 414px) {
        grid-template-columns: 1fr;
    }
    @media (min-width: 415px) and (max-width: 1024px) {
        grid-template-columns: 1fr 1fr;
    }

    margin-top: 30px;
    margin-bottom: 50px;

    .banner_text {
        font-family: $ptsans;
        margin-top: 15%;

        h3 {
            font-size: 2rem;
            margin-bottom: 15px;
        }

        span {
            font-size: 1.4rem;
            color: #313841;
        }

        p {
            font-size: 1rem;
            margin-top: 15px;
            color: #555555;
        }

        ul.download_platforms {
            font-size: 3rem;
            margin-top: 20px;
            @media screen and (max-width: 414px) {
                text-align: center;
            }
            li {
                display: inline-block;
                margin-right: 20px;
            }
        }
    }

    .banner_img {
        img {
            margin: auto;
        }
    }
}