#features {
    padding: 50px 0;
    font-family: $ptsans;
    .title {
        margin-bottom: 50px;
        h1 {
            font-size: 2.5rem;
            margin-bottom: 20px;
        }
        p {
            color: #313841;
            font-size: 1.1rem;
        }
    }
    .features_icon {
        grid-template-columns: 1fr 1fr 1fr;
        @media screen and (max-width: 808px) {
            grid-template-columns: 1fr;
        }
        @media screen and (min-width: 809px) {
            &:last-child {
                margin-top: 4rem !important;
            }
        }

        div.features_icon_grid {
            display: grid;
            grid-template-columns: .2fr 1.8fr;
            grid-gap: 20px;
        }

        i {
            font-size: 3.5rem;
            text-align: center;
            @media screen and (max-width: 808px) {
                min-width: 70px;
            }
        }

        .fa-code {
            font-size: 3.2rem;
        }
    }
}