@font-face {
    font-family: 'pt_sansregular';
    src: url('./assets/fonts/pt_sans-web-regular-webfont.woff2') format('woff2'),
         url('./assets/fonts/pt_sans-web-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}