footer {
    padding: 50px 0;
    font-family: $ptsans;
    background: #010101;
    .title {
        margin-bottom: 50px;
        h1 {
            font-size: 2.5rem;
            margin-bottom: 20px;
            color: $primaryColor;
        }
        p {
            color: #898989;
            font-family: 1.1rem;
        }
    }
    .footer_form {
        input[type="email"] {
            border: 1px solid transparent;
            border-radius: 5px;
            width: 100%;
            max-width: 460px;
            padding: 15px;
            font-family: $ptsans;
            @media (min-width: 321px) and (max-width: 808px) {
                max-width: 300px;
                margin-bottom: 15px;
            }
            @media screen and (max-width: 320px) {
                max-width: 260px;
                margin-bottom: 15px;
            }
        }
        button {
            background: $primaryColor;
            padding: 15px 25px;
            border: 1px solid transparent;
            font-family: $ptsans;
            border-radius: 5px;
            text-transform: uppercase;
            font-weight: bold;
            cursor: pointer;
            transition: .3s all;
            @media (min-width: 321px) and (max-width: 808px) {
                width: 100%;
                max-width: 330px;
                margin-bottom: 15px;
            }
            @media screen and (max-width: 320px) {
                width: 295px;
                margin-bottom: 15px;
            }

            &:hover {
                background: transparent;
                color: $primaryColor;
                border: 1px solid $primaryColor;
            }
        }
    }
    .social-media {
        margin-top: 50px;
        margin-bottom: 50px;
        li {
            display: inline-block;
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
            i {
                color: $primaryColor;
                font-size: 3rem;
            }
        }
    }
    .footer_menu {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        @media screen and (max-width: 550px) {
            grid-template-columns: 1fr;
        }
        color: white;
        text-align: left;
        a {
            color: white;
        }
    }
}