body,
h1,
h2,
h3,
ul,
li,
p,
dd,
dt,
dl {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $hColor;
}

p {
  color: $textColor;
}

html.textoMaior {
  font-size: 150%;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

body {
    color: #222;
    --webkit-font-smoothing: antialiased;
}

.grid-section {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 4rem;
}

.text-center {
  text-align: center;
}

.container {
  margin-right: auto;
  margin-left:  auto;
  max-width: 1140px;
  padding-right: 10px;
  padding-left:  10px;
}

.d-block {
  display: block !important;
}