#navbar {
    margin-bottom: 15px;
    @media screen and (max-width: 808px) {
        grid-template-columns: 1.9fr .1fr;

        img {
            margin: auto;
        }
    }

    .menu {
        @media screen and (max-width: 808px) {
            display: none;
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            padding: 10px;
        }

        li {
            a {
                display: block;
                padding-right: 50px;
                color: #010101;
                text-decoration: none;
                font-family: $ptsans;
                font-weight: bold;
                font-size: 1.5rem;
                letter-spacing: .1rem;
            }

            &:last-child a {
                padding-right: 0;
            }
        }
    }

    .menu_mobile {
        display: none;
        @media screen and (max-width: 808px) {
            display: block;
        }
        i {
            font-size: 2.5rem;
            cursor: pointer;
        }
        .close {
            font-weight: bold;
            font-family: $ptsans;
            font-size: 2rem;
            position: absolute;
            right: 30px;
            top: 40px;
        }
        .menu-mobile_items {
            display: none;
            position: fixed;
            background: $primaryColor;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            padding: 20px;
            text-align: center;

            ul {
                margin-top: 50%;

                li {
                    margin-bottom: 15px;
                    a {
                        font-family: $ptsans;
                        color: #010101;
                        text-decoration: none;
                        font-size: 2rem;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}